:root {
  --background-1: #001c40;
  --background-2: #000000;
  --color-1: #88b5fc;
  --color-2: #ecf4ff;
  --color-3: rgba(255, 255, 255, 0.089);
  --color-story: rgb(255, 124, 174);
  --color-story-text: rgb(238, 238, 238);

}

* {
  /* box-sizing: border-box; */
}


body {
  color: white;
  background-color: var(--background-2);
  font-family: 'Ubuntu', 'sans-serif';
  /* font-weight: 300; */
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
  /*this needs to switched to hidden, when the overlay is activated*/
}

.container {
  display: flex;
  flex-direction: column;
  margin: 0;
}

/* Still needs a bit of tweaking */
@media screen and (max-width: 667px) {
  body {
    overflow-x: hidden;
  }

  .container {
    max-width: 100% !important;
    overflow-x: hidden !important;
  }
}

h1 {
  color: var(--color-1);
  font-size: 10em;
  margin: 0;
  margin-top: .1em;
  margin-bottom: 0em;
}

@media screen and (max-width: 900px) {
  h1 {
    color: #a1a3a7;
    font-size: 7em;
    margin: 0;
    font-family: 'Pacifico', "HanyiSentyBubbleTea", cursive;
    margin-top: 0em;
    margin-bottom: -.2em;
  }
}

h2 {
  font-size: 4em;
  font-family: "Dancing Script";
  margin: 0;
}

h3 {
  font-size: 2em;
}

h4 {
  font-size: 1.6em;
}



p {
  color: var(--color-1);
  font-size: 1em;
  font-family: "Ubuntu", sans-serif;
  font-weight: "400";
  margin: 0;
}


li {
  list-style-type: none;
}

a:link {
  color: var(--color-1);
  text-decoration: none;
  font-weight: bold;
}

a:visited {
  color: var(--color-1);
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: #5392f7;
}

svg {
  cursor: pointer;
}


img {
  pointer-events: none;
}

@keyframes color-fade-1 {
  0% {
    color: rgb(85, 153, 255);
  }

  50% {
    color: rgba(87, 216, 255, 0.548);
  }

  100% {
    color: rgb(52, 231, 192)
  }
}


h2.line-color {
  color: var(--color-1);
  margin-top: .5em;
}

.line-color {
  margin-top: .5em;
  white-space: pre-wrap;
  border-bottom: .1em solid;
  animation: color-fade-1 6s infinite ease-in-out alternate;
  line-height: 110%;
  margin-left: 0;
}




.nav-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  z-index: 10;
}

.bar-container {
  position: fixed;
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-end;
  z-index: 2;
}

@media screen and (max-width: 900px) {
  .bar-container {
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    z-index: 1;
  }
}


.nav-bar-container {
  overflow: hidden;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin-top: 1em;
  margin-right: .5em;
  padding: 0;

}

@media screen and (max-width: 900px) {
  .nav-bar {
    margin-top: 1.3em;
  }
}

.nav-bar-item {
  display: inline-block;
  position: relative;
  align-content: center;
  justify-content: center;
  text-align: center;
  flex-basis: 5em;
  margin-right: .5em;
  margin-left: .5em;
}

.nav-bar-item:after {
  content: '';
  position: absolute;
  width: 100%;
  height: .2em;
  bottom: -.4em;
  left: 0;
  background-color: #0087ca;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

@media screen and (max-width: 900px) {
  .nav-bar-item:after {
    content: '';
    position: absolute;
    width: 100%;
    height: .2em;
    bottom: -.1em;
    left: 0;
    background-color: #0087ca;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
}

.nav-bar-item:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.dark-light-mode {
  font-size: 2em;
  color: var(--color-1);
}

.dark-light-mode:hover {
  color: #5392f7;
}

.music-icon {
  font-size: 1.5em;
  color: var(--color-1);
}

.music-icon:hover {
  color: #5392f7;
}

.spotify-box {
  border-radius: 12px;
  margin-right: 1em;
  z-index: 10;
}

@media screen and (max-width: 900px) {
  .spotify-box {
    margin: auto;
  }
}

.home {
  background: var(--background-1);
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  /* align-content: center; */
  align-items: center;
  /* justify-content: center; */

  margin-top: 0;
  margin-bottom: 0;

}

.home p {
  color: var(--color-2);
  margin-left: 45%;
  margin-right: 30%;
}

@media screen and (max-width: 900px) {
  .home p {
    margin-left: 5%;
    margin-right: 5%;
  }
}

.home-name {
  width: 300px;
  text-align: right;
  margin: 0;
  font-size: 1.5em;
  margin-bottom: 0em;
  user-select: none;
  color: var(--color-2);
}

@media screen and (max-width: 900px) {
  .home-name {
    text-align: right;
    margin: 0;
    margin-top: .5em;
    font-size: 1.5em;
    margin-bottom: 0em;
    user-select: none;
    color: var(--color-2);
  }
}



.color-bar {
  align-self: flex-start;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;

  margin-top: 1.5em;
  margin-left: 1em;
  margin-bottom: -3em;
  padding: 0;
  z-index: 3;
}

@media screen and (max-width: 900px) {
  .color-bar {
    align-self: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;

    margin-top: .3em;
    margin-left: 0em;
    margin-bottom: -1em;
    padding: 0;
    z-index: 3;
  }
}

.color-bar-item {
  display: inline-block;
  position: relative;
  flex-basis: 5em;
  margin-right: .5em;
  margin-left: .7em;
  cursor: pointer;
}

.color-bar-item:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -.4em;
  left: 0;
  background-color: #0087ca;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

@media screen and (max-width: 900px) {
  .color-bar-item:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -.1em;
    left: 0;
    background-color: #0087ca;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
}

.color-bar-item:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.title {
  /* width: 40%; */
  max-width: 500px;
  color: var(--color-1);
  font-size: 1.2em;
  font-family: "Ubuntu", "sans-serif";
  font-weight: 500;
  margin-top: -.3em;
  margin-bottom: .5em;
  user-select: none;
}

@media screen and (max-width: 900px) {
  .title {
    width: 85%;
    color: var(--color-1);
    font-size: 1em;
    font-family: "Ubuntu", "sans-serif";
    margin-top: -2.5em;
    margin-bottom: -1em;
  }
}

.greeting {
  height: 100%;
  width: 100%;
  line-height: 200px;
  margin: 0;
  text-align: center;
  vetical-align: bottom;
  user-select: none;
}

@media screen and (max-width: 900px) {
  .greeting {
    height: 100%;
    width: 100%;
    line-height: 200px;
    margin-top: 100px;
    text-align: center;
    user-select: none;
  }
}


.cat-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  height: 400px;
  overflow: hidden;

  margin-top: 10px;
}



.img-wrapper {
  width: 50em;
  height: 50em;
  position: relative;
  /* z-index:1; */
}


.calico {
  font-family: "Pacifico", "cursvie";
  font-size: 9em;
  margin: 0;
  color: #3ce7df;
}

.orange {
  font-family: "Parisienne", "cursvie";
  font-size: 9em;
  margin: 0;
  color: #acf18b;
}

.siamese {
  font-family: "HanyiSentyBubbleTea", "cursvie";
  font-size: 9em;
  margin: 0;
  color: #e959ff;
}

.black {
  font-family: "Pacifico", "cursvie";
  font-size: 8em;
  margin: 0;
  color: #fc796f;
}

.tabby {
  font-family: "Dancing Script", "cursvie";
  font-size: 8em;
  margin: 0;
  color: #39bafa;
}

.white {
  font-family: "HanyiSentyBubbleTea", "cursvie";
  font-size: 10em;
  margin: 0;
  color: #aa80ff;
}

@media screen and (max-width: 900px) {

  .cat-container {
  margin-top: -15px;
  }



  .calico {
    font-family: "Pacifico", "cursvie";
    font-size: 6em;
    margin: 0;
    color: #3ce7df;
  }

  .orange {
    font-family: "Parisienne", "cursvie";
    font-size: 6em;
    margin: 0;
    color: #acf18b;
  }

  .siamese {
    font-family: "HanyiSentyBubbleTea", "cursvie";
    font-size: 6em;
    margin: 0;
    color: #e959ff;
  }

  .black {
    font-family: "Pacifico", "cursvie";
    font-size: 6em;
    margin: 0;
    color: #fc796f;
  }

  .tabby {
    font-family: "Dancing Script", "cursvie";
    font-size: 6em;
    margin: 0;
    color: #39bafa;

  }

  .white {
    font-family: "HanyiSentyBubbleTea", "cursvie";
    font-size: 7em;
    margin: 0;
    color: #aa80ff;
  }
}

.cat-img {
  top: 50em;
  width: 50em;
  height: 50em;
  object-fit: contain;
  position: absolute;
  margin: auto;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-duration: 2.7s;
  animation-delay: 0s;
  animation-iteration-count: 1;

  z-index: 2;
  user-select: none;
}

.cat_bg {
  top: 0;
  width: 50em;
  height: 50em;
  z-index: 0;
  user-select: none;
}

@keyframes upCat {
  0% {
    transform: translate(0, 0em);
  }

  30% {
    transform: translate(0, -60em);
  }

  65% {
    transform: translate(0, -40em);
  }

  100% {
    transform: translate(0, -50em);
  }
}

@keyframes upCat4 {
  0% {
    transform: translate(-60em, -50em);
  }

  40% {
    transform: translate(-35em, -50em);
  }


  50% {
    transform: translate(-60em, -50em);
  }

  70% {
    transform: translate(-60em, -30em);
  }

  80% {
    transform: translate(0em, -30em);
  }

  100% {
    transform: translate(0, -50em);
  }
}

@keyframes upCat3 {
  0% {
    transform: translate(0, -10em);
  }

  30% {
    transform: translate(0, -45em);
  }

  40% {
    transform: translate(0, -45em);
  }

  55% {
    transform: translate(0, -10em);
  }

  85% {
    transform: translate(0, -40em);
  }

  100% {
    transform: translate(0, -53em);
  }
}

@keyframes upCat2 {
  0% {
    transform: translate(0, 0em);
  }

  30% {
    transform: translate(0, -60em);
  }

  65% {
    transform: translate(0, -40em);
  }

  100% {
    transform: translate(0, -50em);
  }
}


@keyframes upCat5 {
  0% {
    transform: translate(0, 0em);
  }

  30% {
    transform: translate(0, -60em);
  }

  65% {
    transform: translate(0, -40em);
  }

  100% {
    transform: translate(0, -50em);
  }
}


@keyframes upCat6 {
  0% {
    transform: translate(0, -100em);
  }

  22% {
    transform: translate(0, -30em);
  }

  65% {
    transform: translate(0, -40em);
  }

  100% {
    transform: translate(0, -50em);
  }
}



.stories {
  background-color: var(--background-2);
}


@keyframes downMove {
  0%, 100% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(0, .3em);
  }
}

.story-arrow {
  margin-top: 1.2em;
  margin-left: 0;
  margin-right: 1em;
  position: relative;
  font-size: 3em;
  text-align: center;
  /* overflow: hidden; */
  background-color: white;
}


.story-arrow svg {

  position: absolute;
  color: var(--color-1);
  margin: auto;
  /* animation-timing-function: ease-out;  */
  animation:
    downMove 1.5s ease-in-out infinite alternate,

    color-1 3s infinite alternate;
  cursor: default;
}



.story-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;

  padding: 0;

  gap: 8em;
  margin-top: 8em;
  margin-bottom: 5em;

  /* margin-left: -4em; */
}

@keyframes color-fade-2a {
  0% {
    color: rgba(255, 124, 174, .30);
  }

  /* 50% {color: rgb(8, 153, 146);} */
  50%, 100% {
    color: rgb(255, 124, 174)
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes color-fade-2b {
  0% {
    color: rgba(185, 255, 234, .30);
  }

  /* 50% {color: rgb(8, 153, 146);} */
  50%, 100% {
    color: rgb(185, 255, 234)
  }
}

@keyframes color-fade-2c {
  0% {
    color: rgba(218, 185, 255, .30);
  }

  /* 50% {color: rgb(8, 153, 146);} */
  50%, 100% {
    color: rgb(218, 185, 255)
  }
}

@keyframes color-fade-2d {
  0% {
    color: rgba(255, 219, 185, .30);
  }

  /* 50% {color: rgb(8, 153, 146);} */
  50%, 100% {
    color: rgb(255, 219, 185)
  }
}

/* There is a possibility of this icon fade and the border and text color fade becoming out of sync. So, that might be something I need to fix later by just doing an opacity fade for the entire story div  */
@keyframes icon-fade {
  0% {
    opacity: 0
  }

  100% {
    opacity: 1
  }
}

.story-item {
  display: flex;
  flex-direction: column;
  background-color: var(--color-3);
  cursor: pointer;
  border: .4em;
  border-style: solid solid solid solid;
  border-radius: 1em;
  padding: 1em;
  width: 19em;
  height: 20em;
  overflow-wrap: break-word;
  font-weight: bold;
  font-size: 1em;
  text-align: center;
  transition: .5s ease-in-out;
  overflow-y: hidden;
}

.story-item:hover {
  border: solid .6em var(--color-2);
}

p.story-title {
  font-style: italic;
  font-size: 1.3em;
  font-weight: 700;
  color: var(--color-2);
}

.story-item p {
  text-align: left;
}

p.story-item {
  font-weight: 500;
}

.story-emoji-container {
  cursor: pointer;
  margin: 2rem 2rem 2rem 2rem;
}

p.story-emoji-contents {
  text-align: center;
  /* background-color: white; */
}



.story-header {
  border-width: .1em;
  font-size: .9em;
  border-style: none none solid none;
  margin-top: .3em;
}

.story-theme {
  color: var(--color-2);

  font-size: .8em;
  padding: .3em .3em .3em .7em;
}

.story-tools {
  color: var(--color-2);
  border-width: .1em;
  font-size: .8em;
  padding: .3em .7em .3em 1em;
  /* margin-top: .7em; */
}


.overlay {
  position: fixed;
  display: flex;
  /* Somehow making this into a flex box fixes margin issues in the container inside */
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(17, 17, 17, 0.95);
  z-index: 10;
  margin: auto;
}

@media screen and (max-width: 900px) {
  .overlay {
    position: fixed;
    display: flex;
    /* Somehow making this into a flex box fixes margin issues in the container inside */
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.85);
    z-index: 10;
    margin: auto;
  }
}


.overlay-exit {
  position: fixed;
  top: 0;
  right: 0px;
  height: 1em;
  margin-right: 1em;
  margin-top: 1em;
  font-size: 1.7em;
  color: white;
  cursor: pointer;
  border-radius: 50px;
  background: black;
  z-index: 11;
}

@media screen and (max-width: 900px) {
  .overlay-exit {
    display: flex;
    align-self: center;
    height: 1.2em;
    width: 1.2em;
    margin-right: 5px;
    margin-top: 5px;
    font-size: 1.7em;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    background: black;
    z-index: 11;
  }
}

@media screen and (max-width: 900px) {
  .overlay-exit svg {
    margin: auto;
  }
}

.overlay-ref-button {
  display: none;
  border-radius: 0px;
}



  .overlay-ref-button {
    display: flex;
    position: fixed;
    align-self: center;
    text-align: center;
    top: 30px;
    right: 22px;
    height: 1.2em;
    width: 1.2em;
    margin-right: 0em;
    margin-top: 1.3em;
    font-size: 1.7em;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.836);
    z-index: 11;
  }

  @media screen and (max-width: 900px) {
    .overlay-ref-button {
      right: 5px;
      top: 13px;
    }
}

@media screen and (max-width: 900px) {
  .overlay-ref-button svg {
    padding-bottom: .08em;
    margin: auto;

  }
}

/* Still not sure why the flex-direction of this div class will be the opposite of what it normally should be. It's because flex-wrap is set to wrap and the width is set to 100% and with overlow allowing for scrolling. Therefore, it will try to fit all the elements horizontally and won't wrap since the width is 100%? */

/* holds the overlay divs */
.overlay-container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;

  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

@media screen and (max-width: 900px) {
  .overlay-container {
    /* position: absolute; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0em 2em 2em 2em;
    overflow-y: scroll;
  }
}

p.overlay-subtle {
  color:rgb(192, 192, 192);
  font-size: 1em;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-right: 120px;
  text-align: right;
  width: 700px;
}


.overlay-text {
  color: var(--color-story-text);
  width: 700px;
  margin-right: 120px;
  /* padding-top: 1rem; */
  padding-bottom: 2rem;
}

.overlay-text-b {
  color: var(--color-story-text);
  width: 700px;
  margin-right: 120px;
  font-size: 18px;
  line-height: 130%;
  font-weight: 400;
  max-width: 700px;
}



h2.overlay-text {
  margin-top: 2rem;
  padding-bottom: 0;
  text-align: left;
  border-bottom: 2px solid;
  animation: color-fade-2a 5s infinite alternate;
}

h4.overlay-text {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;
  color: rgb(255, 124, 174);
  /* width: 500px; */
}

.overlay-quote-container {
  color: var(--color-story-text);
  width: 700px;
  margin-right: 120px;
  padding-top: 25px;
  padding-bottom: 25px;
}

h4.overlay-quote {
  margin: 0;
  animation: color-fade-2a 7s infinite alternate;
  width: 400px;
  margin-top: 10px;
}

.overlay-title {
  color: black;
  font-size: 1.3em;
  font-weight: 600;
  padding-top: 20px;
  padding-bottom: 10px;
  /* margin-bottom: 1em; */
  line-height: 0;
}

p.overlay-text {
  font-size: 18px;
  line-height: 130%;
  font-weight: 400;
  max-width: 700px;
}



p.overlay-text-indent {
  font-size: 18px;
  line-height: 130%;
  font-weight: 400;
  max-width: 700px;
  padding-left: 2em;
  color: var(--color-story-text);
}



.video-container {
  /* position: static; */
  /* padding-bottom: 56.25%; 16:9 */
  width: 100%;
  max-width: 700px;
  width: 650px;
  margin-top: 10px;
  margin-right: 120px;
  /* height: auto; */
  /* margin: 0 auto; */
}

.video-wraper {
  height: 0;
  margin: auto;
  z-index: 1;
  position: relative;
  /* padding-top: 25px; */
  padding-bottom: 56.25%;
  display: block;
  overflow: hidden;
}

iframe.youtube {
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  position: absolute;
}


.overlay-ref {
  display: block;
  position: fixed;
  overflow-y: scroll;
  bottom: 0;
  right: 0;
  width: 140px;
  height: 100%;
  border-left: solid;
  padding-left: .5em;
  padding-right: .5em;
  z-index: 10;
  animation: fade-in .5s forwards, color-fade-2a 3s infinite alternate;
  background-color: #000000dc;
}

@media screen and (max-width: 900px) {
  .overlay-text {
    width: 100%;
    margin: 0 1em 0 1em;
  }
  p.overlay-subtle {
    width: 100%;
    margin: 0 5px 0 0;
  }
  h2.overlay-text {
    font-size: 4em;
    position: auto;
    width: 100%;
    text-align: center;
    height: auto;
    margin: 60px 0 0 0;
  }
  div.overlay-container {
    width: 100%;
    margin: 0;
  }
  .overlay-quote-container {
    margin: 15px;
  }
  h4.overlay-quote {
    width: 100%;
    margin: 10px 0 0 0;
  }
  h4.overlay-text {
    margin-left: 1rem;
  }
  .video-container {
  margin: 15px;
  }

  .overlay-ref {
    display: none;
    position: fixed;
    overflow-y: scroll;
    /* float: right; */
    /* align-self: flex-end; */

    bottom: auto;
    left: auto;
    right: 0;
    top: 0;

    width: auto;
    height: 350px;
    border-left: solid;
    padding-left: 0em;
    padding-right: .5em;
    background-color: rgba(0, 0, 0, 0.856);
    z-index: 10;
    /* transition: .5s ease; */
  }
}


@media screen and (max-width: 900px) {
  .overlay-ref[fade="1"] {
    transition: .5s ease;
  }
}


.ref-title {
  margin: 4em 0 1em 0;
  font-weight: 700;
}

@media screen and (max-width: 900px) {
  .ref-title {
    margin: 5em 0 1em 0;
    text-align: right;
  }
}

.ref-text {
  font-size: 11px;
  font-weight: 500;
}

@media screen and (max-width: 900px) {
  .ref-text {
    text-align: right;
  }
}

p.ref-text {
  line-height: 1.3em;
  margin-top: 1em;
  margin-bottom: 1em;

}

a.ref-text {
  margin: 0em;
  background-color: var(--background-1);
  color: var(--color-story-text);
  /* line-height: 50%; */
  /* text-align: right; */
}

.glow-text {
  color: var(--color-story);
  /* animation: fade-in .5s forwards, color-fade-2a 3s infinite alternate; */
}

.overlay-visual {
  display: flex;
  flex-wrap: wrap;
  width: 800px;
  height: 500px;
  margin-right: 120px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.overlay-tableau-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;

  width: 1050px;
  /* height: 500px; */
  margin-right: 60px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.overlay-tableau {
}

@media screen and (max-width: 900px) {
  .overlay-visual {
    width: 100%;
    height: 500px;
    /* margin: .5em; */
  }
}


.about {
  background-color: var(--background-1);
}

.about-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: center;
  justify-content: center;
  max-width: 1000px;
  margin-top: 1em;
  margin-bottom: 2em;
  margin-left: 3em;
}

@media screen and (max-width: 900px) {
  .about-container {
    margin: 0;
  }
}

.about-img {
  min-width: 20em;
  max-width: 400px;
  max-height: auto;
  flex: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
}


@media screen and (max-width: 900px) {
  .about-img {
    margin: 2em;
  }
}

.bio {
  flex: 20em;
  max-width: 600px;
  margin-left: 2em;
}

@media screen and (max-width: 900px) {
  .bio {
    margin-left: 0;
    margin-bottom: 1em;
  }
}


.bio-text {
  vertical-align: baseline;

}

.about h4 {
  font-family: 'Ubuntu', sans-serif;
  color: var(--color-2);
  display: inline-block;
  text-align: start;
  font-size: 1.8em;
  margin-left: .5em;
  margin-right: .5em;
  margin-top: 0;
  margin-bottom: .3em;
}

.about p {
  display: inline-block;
  text-align: start;
  font-size: 1em;
  margin-left: 1em;
  margin-right: 1em;
  line-height: 1.4em;
}


.gallery {
  background-color: var(--background-2);
}

.photo-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 0;
  gap: 2em;
}

@keyframes color-fade-3 {
  0%, 20% {
    border-color: #fcf5d8
  }

  100% {
    border-color: #000000
  }
}

.photo-item {
  border: 1px solid;
  padding: 10px;
  animation-name: color-fade-3;
  animation-direction: alternate;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  margin: 0;
  color: var(--color-1);
  font-weight: bold;
  font-size: 1.3em;
  text-align: center;
}

.photo-caption-container {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  transition: .5s ease;
  opacity: 0;
  background-color: #00000000;
}

.photo-caption-container:hover {
  background-color: #00000060;
  opacity: 1;
}

.photo-caption {
  position: absolute;
  height: auto;
  width: 70%;
  top: 50%;
  left: 50%;
  text-Align: center;
  transform: translate(-50%, -50%);
}

.photo-caption p {
  color: white;
}

.gallery-photo {
  display: block;
  width: 100%;
  height: 100%;
}

.footer {
  background-color: var(--background-1);
}

.footer-container {
  /* display: flex; */
  /* flex-direction: column; */
  flex-wrap: nowrap;
  align-content: flex-start;
  align-items: center;
  justify-content: center;
  position: relative;
  /* min-width: 1000px; */
  max-width: 1200px;
  height: 550px;
  margin: auto;
  overflow-y: hidden;
  overflow-x: hidden;
}

@media screen and (max-width: 1200px) {
.footer-container {
  height: 620px;
}
}

@keyframes upCat1a {
  0% {
    transform: translate(0, 0px);
  }
  
  100% {
    transform: translate(0, -250px);
  }
}
@keyframes upCatHidden {
  0% {
    opacity: 0;
  }
  
  100% {
    opacity: 1;
  }
}

.bye-container {
  position: absolute;
  bottom: -320px;
  animation: upCat1a 1s 3s forwards 1;
}

#calico.bye-container {
  left: 27%;
}

@media screen and (max-width: 700px) {
  #calico.bye-container {
    left: 0%;
 }
}

#orange.bye-container {
  left: 44%;
}

#siamese.bye-container {
  left: 60%;
  bottom: -340px;
  z-index: 2;
}

#black.bye-container {
  left: 74%;
  bottom: -320px;
  /* z-index: 2; */

}

#tabby.bye-container {
  left: 10%;
  bottom: -350px;
}

#white.bye-container {
  left: -7%;
  bottom: -350px;
}

@media screen and (max-width: 650px) {
  #calico.bye-container {
    left: 0px;
    z-index: 3;
  }
  #white.bye-container {
    left: -150px;
  }
  #orange.bye-container {
    left: 140px;
    z-index: 1;
  }
  #siamese.bye-container {
    display:none ;
  }
  #tabby.bye-container {
    display:none ;
  }
  #black.bye-container {
    display:none ;
  }
}

@keyframes fadeIn{
  0%{
    opacity: 0;
    transform: scale(.75);

  }
  100%{
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fadeOut{
  0%{
    opacity: 1;
  
  }
  100%{
    display: none;
    opacity: 0;
  }
}


.question-bubble {
  display: block;
  transform: translatey(0px);
  font-family: "Pacifico", "cursvie";
  font-size: 1.5em;
  line-height: 1.2em;
  padding: 20px;
  color: #3ce7df;
  background-color: #bcfffc;
  box-shadow: 15px 15px #31a8a2;
  width: auto;
  left: 270px;
  /* right: -150px; */
  top: -100px;
  animation: float 5s ease-in-out infinite;
  text-align: left;
  border-radius: 15px;
  position: absolute;
  z-index: 2;
  user-select: none;
  animation: fadeIn 1s 1 forwards ease-in-out, float-1a 5s 1s ease-in-out infinite;
  /* animation-duration: 1s; */
  /* animation-fill-mode: forwards; */
  /* animation-iteration-count: 1; */
  /* /* transition-delay: 1s; */
  /* transition: all 2s cubic-bezier(.5, 0, .5, 1); */
  /* transition-property: opacity, transform;  */
}

.question-bubble[hidden] {
  display: none;
}


.question-bubble:after {
  display: block;
  transform: translatey(0px);
  content: ".";
  left: 0;
  bottom: -30px;
  height: 10px;
  width: 50px;
  line-height: 30px;
  animation: float2 5s ease-in-out infinite;
  /* mix-blend-mode: multiply; */
  text-align: left;
  font-size: 55px;
  font-weight: bold;
  border-radius: 11px;
  position: absolute;
  color: #bcfffc;
  text-shadow: 11px 11px #31a8a2;
  background-color: #bcfffc;
  box-shadow: 15px 15px #31a8a2;
  animation: fadeIn 1s 1 forwards ease-in-out, float-2a 5s ease-in-out infinite;
}

#calico-4.question-bubble {
  top: -200px;
}


@media screen and (max-width: 1200px) {
  .question-bubble {
    left: 30%;
  }
}




.question-bubble p {
  font-family: "Pacifico", "cursvie";
  color: #2ad6ce;
  margin-bottom: 5px;
}

.question-bubble-2 {
  top: -140px;
  left: 620px;
  font-size: 1.3em;
  width: 150px;
  font-family: "Pacifico", "HanyiSentyBubbleTea";

  display: block;
  transform: translatey(0px);
  line-height: 1.2em;
  padding: 20px;
  color: #3ce7df;
  background-color: #bcfffc;
  box-shadow: 15px 15px #31a8a2;
  /* left: 250px; */
  /* right: -150px; */
  /* top: -100px; */
  animation: float 5s ease-in-out infinite;
  text-align: left;
  font-weight: bold;
  border-radius: 15px;
  position: absolute;
  z-index: 3;
  user-select: none;
  animation: fadeIn 1s 1 forwards ease-in-out, float-1b 5s 1s ease-in-out infinite;
}

@media screen and (max-width: 1200px) {
  .question-bubble {
    left: 25px;
    top: -120px;
    padding: 10px;
    width: 300px;
  }
  .question-bubble:after {
    left: 100px;
    bottom: -40px;
  }
  #calico-4.question-bubble {
    top: -250px;
  }
  #calico-2.question-bubble {
    top: -50px;
  }
  .question-bubble-2 {
    color: #3ce7df;
    font-size: 1em;
    left: 120px;
    top: -240px;
    width: 200px;
    height: 160px;
    padding: 10px;
    z-index: 1;
    overflow-y: scroll;
  }
  .question-bubble-2-text{
    color: #3ce7df;
 }
}

.question-container {
  /* max-width: 300px; */
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  margin-top: 5px;
  
}

input, button {
  font-family: "Ubuntu";
  font-size: .7em;
  text-align: center;
  color: #31a8a2;
  background-color: white;
  border: solid 3px #31a8a2;
  border-radius: 15px;
  transition: background-color .5s ease-in-out;
  padding: 5px 7px 5px 7px;
  margin: 7px 7px 0px 7px;
}

input[type=text] {
  width: 250px;
}



input::placeholder {
  color: rgb(192, 192, 192)
}

button {
  line-height: 1.2em;
}

button:hover {
  cursor: pointer;
}

input:focus {
  color: #31a8a2;
  background-color: var(--background-1);
  border: solid 3px #31a8a2;
  outline-color: #31a8a2;
}


input:hover, button:hover {
  color: #3ce7df;
  background-color: var(--background-1);
  border: solid 3px #31a8a2;

}

span.highlight {
  position: relative;
  white-space: nowrap;
}

span.highlight:after {
  background-color: white;
  content: " ";
  height: 45%;
  width: 110%;
  top: 40%;
  position: absolute;
  left: 0;
  margin-left: -3px;
  z-index: -1;
}

span.highlight2 {
  position: relative;
  white-space: pre;
}

span.highlight2:after {
  background-color: white;
  border-radius: 5px;
  content: " ";
  height: 160%;
  width: 110%;
  top: -15%;
  position: absolute;
  left: 0;
  /* margin-left: -3px; */
  z-index: -1;
}



.bye-bubble {
  /* transform: translatey(0px); */
  opacity: 0;
  right: 0;
  top: -30px;
  animation: fadeIn .5s 3.5s 1 forwards ease-in, float 5s 1s ease-in-out infinite;
  text-align: left;
  line-height: 1.1em;
  /* white-space: pre-wrap; */
  border-radius: 15px;
  position: absolute;
  z-index: 2;
  user-select: none;
  transition: 1s;
}

.bye-bubble:after {
  display: block;
  transform: translatey(0px);
  content: ".";
  bottom: -30px;
  left: 0;
  height: 10px;
  width: 50px;
  line-height: 30px;
  animation: float2 5s ease-in-out infinite;
  /* mix-blend-mode: multiply; */
  text-align: left;
  font-size: 55px;
  font-family: "Ubuntu";
  font-weight: bold;
  border-radius: 11px;
  position: absolute;
}

#calico.bye-bubble {
  font-family: "Pacifico", "cursvie";
  right: -10px;
  top: -110px;
  font-size: 2em;
  padding: 20px;
  color: #3ce7df;
  background-color: #bcfffc;
  box-shadow: 15px 15px #31a8a2;
  animation: fadeIn .5s 0s 1 forwards ease-in, float-1a 5s 0s ease-in-out infinite;
}

#calico.bye-bubble:after {
  color: #bcfffc;
  text-shadow: 11px 11px #31a8a2;
  background-color: #bcfffc;
  box-shadow: 15px 15px #31a8a2;
  animation: float-2a 5s ease-in-out infinite;
}

#calico p {
  font-family: "Pacifico", "HanyiSentyBubbleTea";
  color: #3ce7df;
  font-weight: 400;
}


#orange.bye-bubble {
  top: -50px;
  right: 20px;
  font-family: "Parisienne", "cursvie";
  font-weight: bold;
  font-size: 2.5em;
  padding: 15px;
  text-align: left;
  line-height: 1em;
  color: #87df5e;
  background-color: #e1fdd4;
  box-shadow: 15px 15px #5a7050;
}

#orange.bye-bubble:after {
  content: ".";
  text-shadow: 11px 11px #5a7050;
  color: #e1fdd4;
  background-color: #e1fdd4;
  box-shadow: 15px 15px #5a7050;
}

#siamese.bye-bubble {
  top: 0px;
  right: 65px;
  font-family: "HanyiSentyBubbleTea", "cursvie";
  font-size: 3em;
  padding: 15px;
  margin: 0;
  color: #e959ff;
  background-color: #f5b7ff;
  box-shadow: 15px 15px  #8c4d96;
  animation: fadeIn .5s 3.5s 1 forwards ease-in, float-1a 5s 1s ease-in-out infinite;
  z-index: 3;
}

#siamese.bye-bubble:after {
  color: #f5b7ff;
  content: ".";
  font-size: 55px;
  text-shadow: 11px 11px #8c4d96;
  background-color: #f5b7ff;
  box-shadow: 15px 15px #8c4d96;
  animation: float-2a 5s ease-in-out infinite;
  
}

#black.bye-bubble {
  top: -70px;
  right: 120px;
  font-family: "Pacifico", "cursvie";
  font-size: 2em;
  line-height: 1.5em;
  text-align: left;
  padding: 20px;
  margin: 0;
  color: #fc796f;
  background-color: #fdbeb9;
  box-shadow: 15px 15px  #a73c34;
}

#black.bye-bubble:after {
  color: #fdbeb9;
  content: ".";
  text-shadow: 11px 11px #a73c34;
  background-color: #fdbeb9;
  box-shadow: 15px 15px #a73c34;
}

#tabby.bye-bubble {
  top: -50px;
  right: 60px;
  font-family: "Parisienne", "cursvie";
  font-weight: bold;
  font-size: 2em;
  text-align: left;
  line-height: 1em;
  padding: 20px;
  margin: 0;
  color: #39bafa;
  background-color: #c8edff;
  box-shadow: 15px 15px  #2f6079;
}

#tabby.bye-bubble:after {
  text-align: left;
  color: #c8edff;
  content: ".";
  text-shadow: 11px 11px #2f6079;
  background-color: #c8edff;
  box-shadow: 15px 15px #2f6079;
}

#white.bye-bubble {
  right: 80px;
  font-family: "HanyiSentyBubbleTea", "cursvie";
  font-size: 3em;
  padding: 20px;
  margin: 0;
  color: #aa80ff;
  background-color: #dbcbff;
  box-shadow: 15px 15px  #6b5c8a;
  animation: fadeIn .5s 3.5s 1 forwards ease-in, float-1a 5s 1s ease-in-out infinite;
}

#white.bye-bubble:after {
  color: #dbcbff;
  content: ".";
  font-size: 55px;
  text-shadow: 11px 11px #6b5c8a;
  background-color: #dbcbff;
  box-shadow: 15px 15px #6b5c8a;
  /* animation: float-2a 5s ease-in-out infinite; */
}

@media screen and (max-width: 650px) {
  #calico.bye-bubble {
    font-size: 1.5em;
    right: 80px;
    top: 0px;
    padding: 10px;
  }
  #white.bye-bubble {
    padding: 10px;
    right: 120px;
    top: 20px;
  }
  #orange.bye-bubble {
    right: 180px;
    top: -100px;
    padding: 10px;
  }
  #siamese.bye-bubble {
    display:none ;
  }
  #tabby.bye-bubble {
    display:none ;
  }
  #black.bye-bubble {
    display:none ;
  }
}


@keyframes float {
  0% {
    transform: translatey(0px);
  }

  50% {
    transform: translatey(-20px);
  }

  100% {
    transform: translatey(0px);
  }
}

@keyframes float2 {
  0% {
    line-height: 30px;
    transform: translatey(0px);
  }

  55% {
    transform: translatey(-20px);
  }

  60% {
    line-height: 10px;
  }

  100% {
    line-height: 30px;
    transform: translatey(0px);
  }
}

@keyframes float-1a {
  0% {
    transform: translatey(0px);
  }

  30% {
    transform: translatey(-20px);
  }

  100% {
    transform: translatey(0px);
  }
}

@keyframes float-2a {
  0% {
    line-height: 30px;
    transform: translatey(0px);
  }

  35% {
    transform: translatey(-20px);
  }

  60% {
    line-height: 10px;
  }

  100% {
    line-height: 30px;
    transform: translatey(0px);
  }
}
@keyframes float-1b {
  0% {
    transform: translatey(0px);
  }

  30% {
    transform: translatey(-15px);
  }

  100% {
    transform: translatey(0px);
  }
}
@keyframes float-2b {
  0% {
    line-height: 30px;
    transform: translatey(0px);
  }

  35% {
    transform: translatey(-10px);
  }

  60% {
    line-height: 10px;
  }

  100% {
    line-height: 30px;
    transform: translatey(0px);
  }
}

.bye-cat {
  user-select: none;
}

#calico.bye-cat {
  /* display: block; */

  width: 25em;
  height: auto;
  /* left: -400px; */
  object-fit: contain;
  /* position: absolute; */
  margin: auto;
  /* animation-name: upCat;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-duration: 2.7s;
  animation-delay: 0s;
  animation-iteration-count: infinite; */
  z-index: 1;
}

#orange.bye-cat {
  /* display: inline; */

  width: 25em;
  height: auto;
  /* left: -400px; */
  /* object-fit: contain; */
  /* position: absolute; */
  margin: auto;
  /* animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-duration: 2.7s;
  animation-delay: 0s;
  animation-iteration-count: 1; */
  z-index: 1;
}

#siamese.bye-cat {
  /* display: inline; */

  width: 25em;
  height: auto;
  /* left: -400px; */
  /* object-fit: contain; */
  /* position: absolute; */
  margin: auto;
  /* animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-duration: 2.7s;
  animation-delay: 0s;
  animation-iteration-count: 1; */
  z-index: 1;
}

#black.bye-cat {
  /* display: inline; */
  width: 25em;
  height: auto;
  /* left: -400px; */
  /* object-fit: contain; */
  /* position: absolute; */
  margin: auto;
  /* animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-duration: 2.7s;
  animation-delay: 0s;
  animation-iteration-count: 1; */
  z-index: 0;
}

#tabby.bye-cat {
  /* display: inline; */
  width: 25em;
  height: auto;
  /* left: -400px; */
  /* object-fit: contain; */
  /* position: absolute; */
  margin: auto;
  /* animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-duration: 2.7s;
  animation-delay: 0s;
  animation-iteration-count: 1; */
  z-index: 1;
}

#white.bye-cat {
  /* display: inline; */
  width: 25em;
  height: auto;
  /* left: -400px; */
  /* object-fit: contain; */
  /* position: absolute; */
  margin: auto;
  /* animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-duration: 2.7s;
  animation-delay: 0s;
  animation-iteration-count: 1; */
  z-index: 1;
}

@media screen and (max-width: 650px) {
  #black.bye-cat {
    display:none;
  }
  #siamese.bye-cat {
    display:none ;
  }
  #tabby.bye-cat {
    display:none ;
  }
}